div#confirmModal(class="modal")
  div(class="modal-content")
    h4.modal-heading(data-bind="text:lobby.confirmModalHeaderMsg")
  div(class="modal-footer", data-bind="template:lobby.confirmFooterTmpl")