div#wildCardModal(class="modal")
  div(class="modal-content")
    h4.modal-heading What Color would you like to set?
  div(class="modal-footer")
    a(class="waves-effect waves-red btn-flat disabled", data-color="red") Red
    a(class="waves-effect waves-blue btn-flat disabled", data-color="blue") Blue
    a(class="waves-effect waves-yellow btn-flat disabled", data-color="yellow") Yellow
    a(class="waves-effect waves-green btn-flat disabled", data-color="green") Green