extends layout

block content
  div.card-panel.error-sect
    h1= message
    h2= error.status
    pre #{error.stack}
    br
    div(class="row")
      div(class="col s12")
        a(class="btn waves-effect waves-light btn-dk", href="/") Back to UNO