extends layout

block content
    div#mainContent(data-bind="template: { name:util.bodyTmpl }")

    // Main Page Templates
    include blank-tmpl
    include profile/profile
    include security/login
    include lobby/lobby
    include lobby/pre-game-lobby
    include lobby/chat
    include game/game

    // Include Modals
    include modals/modal-footers
    include modals/challenge-invite-modal
    include modals/challenge-response-modal
    include modals/confirm-modal
    include modals/help-modal
    include modals/wildcard-modal

    // Include Browser Helpers
    include utils/bad-browser

    // In Game Chat at bottom as Bottom Sheet
    include game/game-chat
