extends layout

block content
    div#mainContent(data-bind="template: { name:util.bodyTmpl }")

    script(type="text/html", id="blank-tmpl")

    script(type="text/html", id="profile")
        // SHOW USER INFO
        div(class="col s6 center" id="user-banner")
            div(id="img-cont")
                //span(class="add-photo-txt") Upload Photo
            h3(data-bind="text:coreData.currUser().fullname")
            //button(class="btn waves-effect waves-light", data-bind='click:editAccount') Edit
            div#user-info
                br
                p UID:
                    span(data-bind="text:coreData.currUser().id")
                br
                p Email:
                    span(data-bind="text:coreData.currUser().email")
                br
                p Username:
                    span(data-bind="text:coreData.currUser().username")
                br
                p Win Count:
                    span(data-bind="text:coreData.currUser().winCount")

    script(type="text/html", id="login")
        div(class="main-wrap")
            div(class="card login-card")
                div(class="card-content bg-dk-cover")
                    div(class="card-title card-heading" data-bind="text:util.pageHeading")
                    div(class="row", data-bind="template: { name: util.loginBodyTmpl}")
                    div(class="row")
                        div(class="col s12")
                            button(class="btn waves-effect waves-light btn-lt", data-bind='click:login', style="width: 49%;") Login
                            button(class="btn waves-effect waves-light btn-lt", data-bind='click:signUp', style="margin-left:2%;width: 49%;") Sign Up

    script(type="text/html", id="login-body")
        div(class="row")
            div(class="col s12", id="login-body-form")
                div(class="row")
                    div(class="input-field col s12")
                        i(class="material-icons prefix") account_circle
                        input#loginUsername(type='text', name='name', class="validate", value="kaos")
                        label(for="name") Username
                div(class="row")
                    div(class="input-field col s12")
                        i(class="material-icons prefix") vpn_key
                        input#loginPass(type='password', name='name', class="validate", value="testing")
                        label(for="name") Password
                div#login-error-msg(data-bind="text:util.errorMsg" class="error-txt" style="display:none;")

    script(type="text/html", id="signup-body")
        div(class="row" id="signup-body")
            div(class="col s12", id="signup-body-form")
                div(class="row form-group")
                    div(class="input-field col s12")
                        input#inputUserEmail(type='email', name='email', class="validate")
                        label(for="email") Email
                        div(class="error-msg")
                div(class="row form-group")
                    div(class="input-field col s12")
                        input#inputUsername(type='text', name='username', class="validate")
                        label(for="username") Username
                        div(class="error-msg")
                div(class="row form-group")
                    div(class="input-field col s12")
                        input#inputUserPassword(type='password', name='password', class="validate")
                        label(for="password") Password
                        div(class="error-msg")
                div(class="row form-group")
                    div(class="input-field col s12")
                        input#inputUserVerifyPassword(type='password', name='confirm-password', class="validate")
                        label(for="confirm-password") Confirm Password
                        div(class="error-msg")
                div#signup-error-msg(data-bind="text:util.errorMsg" class="error-txt" style="display:none;")

    script(type="text/html", id="main")
        div(id="home-bg")
            div(id="main-btn-cont")
                button(class="btn btn-main col-100p" data-bind="click:util.handleNavigation", data-view-name="login", data-subview-name="login-body", data-subview-title="Login") Login
                br
                button(class="btn btn-main col-100p" data-bind="click:util.handleNavigation", data-view-name="login", data-subview-name="signup-body", data-subview-title="Sign Up") Sign Up


    script(type="text/html", id="lobby")
        div(id="lobby-main")
            div(data-bind="template:{name:'chat-section'}")
            div(class="row")
                div(class="col s12")
                    div(class="collection with-header bg-white")
                        div(class="")
                            div(style="float:left;width:50%;", class="collection-header challenge-heading")
                                h6(style="padding:0 2em") Sent Challenges
                            div(style="float:left;width:50%;", class="collection-header challenge-heading")
                                h6(style="padding:0 2em") Received Challenges
                            div(style="float:left;width:50%;min-height:41px;")
                                div(data-bind="foreach:coreData.sentChallenges")
                                    div(data-bind="attr:{'class':'collection-item challenge-text ' + challengeClass}")
                                        a(data-bind="text:challengeText, attr:{ 'data-index':$index }, click:$parent.lobby.promptCancelChallenge")
                                        i(class="material-icons", style="float:right", title="Start Game", data-bind="click:$parent.game.startGame, visible:startGameVisible, attr:{ 'data-id':id }") play_arrow
                            div(style="float:left;width:50%;min-height:41px;")
                                div(data-bind="foreach:coreData.receivedChallenges")
                                    div(data-bind="attr:{'class':'collection-item challenge-text ' + challengeClass}")
                                        a(data-bind="text:challengeText, attr:{ 'data-index':$index }, click:$parent.lobby.promptChallengeResponse")

            div(class="row")
                div(class="col s12")
                    button(class="btn btn-main col-100p", data-bind="click:lobby.showSendChallengeModal", data-view-name="game") Challenge Someone!

    script(type="text/html", id="pre-game-lobby")
        div(class="row")
            div(class="col s12")
                div(class="card")
                    div(class="card-content")
                        h3(data-bind="text:util.preGameLobbyMsg")
                    div(class="card-action")
                        a(class="waves-effect waves-green btn-flat", data-bind="click:lobby.cancelChallenge, attr:{ 'data-id':util.activeChallengeId }") Cancel Challenge

    script(type="text/html", id="game")
        div(id="game-main")
            div#inGameChatWindow
                div(data-bind="template:{name:'chat-section'}")
        div(data-bind="with:game.gameObj")
            div#players(class="row bg-gray")
                div#player-sect(data-bind="foreach:gamePlayers")
                    div(class="player-wrap")
                        img(src="media/users/user.png", data-bind="attr:{ 'alt':username, class:playerClass }", height="70", width="70")
                        div(class="hand-count", data-bind="text:cardCount")
                        div(data-bind="text:username, attr:{ class: 'player-username ' + playerClass() }")
                div.clearfix
            div#game-view(class="row")
                div#game-card-view
                    div#deck-view.card-view
                        img(data-bind="attr:{ src: 'media/cards/cb.svg'}, click:$root.game.draw", height="90")
                    div#current-gc-view(data-bind="attr:{class:'card-view active-color-' + currColor() }")
                        img(data-bind="attr:{ src: 'media/cards/' + currGC() + '.svg'}", height="90")
                    div#previous-gc-view.card-view
                        img(data-bind="attr:{ src: 'media/cards/' + prevGC() + '.svg'}", height="90")

                    .clearfix
            div#action-bar(class="row")
                button(class="btn btn-main btn-sm", style="width:32%;", data-bind="click:$root.game.sayUno, enable:$root.game.canSayUno") Say Uno!
                button(class="btn btn-main btn-sm", style="width:32%;margin-left:2%", data-bind="click:$root.game.challengeUno") Challenge Uno
                button(class="btn btn-main btn-sm", style="width:32%;margin-left:2%", data-bind="click:$root.lobby.confirmQuitGame") Quit Game

            div#player-hand(data-bind="attr:{ class: 'row ' + currPlayer().playerClass() }")
                div(data-bind="attr:{ class:'curr-player-username ' + currPlayer().playerClass() }")
                    h5(data-bind="text:$root.coreData.currUser().username")
                div(data-bind="foreach:currPlayer().hand")
                    div.card-view(data-bind="attr:{ title:cardName }")
                        img(data-bind="attr:{ src: 'media/cards/' + svgName + '.svg', 'data-id':svgName }, click:$root.game.validateMove", height="90")
                    //object(data-bind="attr:{ data:'media/cards/' + svgName + '.svg', 'data-card':cardName}", type='image/svg+xml', height='90', width='60')
                    //    | Your browser doesn't support SVG

    script(type="text/html", id="challenger-response-modal")
        div(data-bind="with:lobby.currentSentChallenge")
            table
                thead
                    tr
                        th Username
                        th Status
                tbody(data-bind="foreach:usersChallenged")
                    tr
                        td(data-bind="text:username")
                        td(data-bind="text:status")


    script(type="text/html", id="chat-section")
        div#chat-window
            div#chat-cont
                // ko if: coreData.activeChatData().msgs().length == 0
                div(class="card-panel" style="margin:.5em;overflow-x:hidden") No Chat Messages within the last 15 mins
                // /ko

                div(data-bind="foreach:coreData.activeChatData().msgs()")
                    div(class="card-panel", style="margin:.5em;overflow-x:hidden")
                        b
                            span(data-bind="text:sender, attr:{ 'class':senderColor}")
                        span(style="margin-right:1em;") :
                        span(data-bind="text:message")
                        span(data-bind="text:timeSent", style="float:right;color:#CCC;")

            div#chat-controls(class="row")
                div(class="input-field col pw-90")
                    input#chat-msg(type="text", data-bind="event:{ keyup:util.sendChatViaEnterKey }")
                    label(for="chat-msg") Chat Message
                div(class="col chat-btn pw-10")
                    i(id="chat-btn", class="material-icons", data-bind="click:chat.sendChat, attr:{ 'data-roomid':coreData.activeChatData().roomId }") send

    script(type="text/html", id="bad-browser")
        div(class="row")
            h1(class="error-msg") This browser is not supported
            h2(class="error-msg") Please update your browser

    // Modal Footer Template
    script(type="text/html", id="challenge-resp-footer-tmpl")
        a(class="modal-action modal-close waves-effect waves-green btn-flat") Close
        a(class="waves-effect waves-green btn-flat" id="btn-accept-challenge") Accept
        a(class="waves-effect waves-green btn-flat" id="btn-decline-challenge") Decline
    script(type="text/html", id="challenge-cancel-footer-tmpl")
        a(class="modal-action modal-close waves-effect waves-green btn-flat") Close
        a(class="waves-effect waves-green btn-flat" id="btn-cancel-challenge") Cancel Challenge
    script(type="text/html", id="confirm-quit-footer-tmpl")
        a(class="modal-action modal-close waves-effect waves-green btn-flat") Cancel
        a(class="waves-effect waves-green btn-flat" id="btn-quit-game" data-bind="click:game.quitGame") Quit Game