doctype html
html
    head
        title
        link(rel="apple-touch-icon", sizes="57x57", href="media/icon/apple-icon-57x57.png")
        link(rel="apple-touch-icon", sizes="60x60", href="media/icon/apple-icon-60x60.png")
        link(rel="apple-touch-icon", sizes="72x72", href="media/icon/apple-icon-72x72.png")
        link(rel="apple-touch-icon", sizes="76x76", href="media/icon/apple-icon-76x76.png")
        link(rel="apple-touch-icon", sizes="114x114", href="media/icon/apple-icon-114x114.png")
        link(rel="apple-touch-icon", sizes="120x120", href="media/icon/apple-icon-120x120.png")
        link(rel="apple-touch-icon", sizes="144x144", href="media/icon/apple-icon-144x144.png")
        link(rel="apple-touch-icon", sizes="152x152", href="media/icon/apple-icon-152x152.png")
        link(rel="apple-touch-icon", sizes="180x180", href="media/icon/apple-icon-180x180.png")
        link(rel="icon", type="image/png", sizes="192x192",  href="media/icon/android-icon-192x192.png")
        link(rel="icon", type="image/png", sizes="32x32", href="media/icon/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="96x96", href="media/icon/favicon-96x96.png")
        link(rel="icon", type="image/png", sizes="16x16", href="media/icon/favicon-16x16.png")
        link(rel="manifest", href="media/icon/manifest.json")
        meta(name="msapplication-TileColor", content="#ffffff")
        meta(name="msapplication-TileImage", content="media/icon/ms-icon-144x144.png")
        meta(name="theme-color", content="#ffffff")
        link(rel='stylesheet', href='css/materialize/bin/materialize.min.css', media="screen,projection")
        link(rel='stylesheet', href='css/main.css')
        script(src='js/lib/progressbar.min.js')

        script(type="text/javascript", data-main="app", src="js/lib/require.js")
    body(class="bg-main")
        div(class="navbar-fixed")
            nav
                div(class="nav-wrapper")
                    a(id="page-route", style="display:none")= page
                    a(href="#", class="brand-logo", data-bind="click:util.handleNavigation", data-view-name="main")= title
                    a(href="#", data-activates="mobile-nav", class="button-collapse")
                        i(class="material-icons") menu
                    ul(id="nav-mobile", class="right hide-on-med-and-down")

                        li.nav-item(data-bind="visible:util.userLoggedIn, click:util.handleNavigation", data-view-name="lobby")
                            a#nav-lobby(href="#") Lobby
                        li.nav-item(data-bind="visible:util.userLoggedIn, click:util.handleNavigation", data-view-name="profile")
                            a#nav-profile(href="#") Profile
                        li.nav-item(data-bind="visible:!(util.userLoggedIn), click:util.handleNavigation", data-view-name="login")
                            a#nav-login(href="#") Login
                        li.nav-item(data-bind="visible:util.userLoggedIn, click:util.logout")
                            a#nav-logout(href="#") Logout
                        li.nav-item(data-bind="click:util.showHelp")
                            a#nav-help(href="#") Help
                        li.nav-item.chat-icon-li.toggle-chat-btn(data-bind="visible:util.userInGame, click:util.toggleInGameChat")
                            a#in-game-chat-btn(class="material-icons", title="chat") chat_bubble_outline
                    ul(class="side-nav collection" id="mobile-nav")
                        li.nav-item(data-bind="visible:util.userLoggedIn, click:util.handleNavigation", data-view-name="profile")
                            div.side-nav-player(data-bind="with:coreData.currUser")
                                img.circle-img(src="media/users/user.png" height="50", width="50")
                                h4(data-bind="text:username")
                                span(data-bind="text:email")

                        li.nav-item(data-bind="visible:util.userLoggedIn, click:util.handleNavigation", data-view-name="lobby")
                            a#mobile-nav-lobby(href="#") Lobby
                        li.nav-item(data-bind="visible:util.userLoggedIn, click:util.handleNavigation", data-view-name="profile")
                            a#mobile-nav-profile(href="#") Profile
                        li.nav-item(data-bind="visible:!(util.userLoggedIn), click:util.handleNavigation", data-view-name="login")
                            a#mobile-nav-login(href="#") Login
                        li.nav-item(data-bind="visible:util.userLoggedIn, click:util.logout")
                            a#mobile-nav-logout(href="#") Logout
                        li.nav-item(data-bind="click:util.showHelp")
                            a#mobile-nav-help(href="#") Help

        block content