doctype html
html
    head
        title= title
        link(rel="apple-touch-icon", sizes="57x57", href="media/icon/apple-icon-57x57.png")
        link(rel="apple-touch-icon", sizes="60x60", href="media/icon/apple-icon-60x60.png")
        link(rel="apple-touch-icon", sizes="72x72", href="media/icon/apple-icon-72x72.png")
        link(rel="apple-touch-icon", sizes="76x76", href="media/icon/apple-icon-76x76.png")
        link(rel="apple-touch-icon", sizes="114x114", href="media/icon/apple-icon-114x114.png")
        link(rel="apple-touch-icon", sizes="120x120", href="media/icon/apple-icon-120x120.png")
        link(rel="apple-touch-icon", sizes="144x144", href="media/icon/apple-icon-144x144.png")
        link(rel="apple-touch-icon", sizes="152x152", href="media/icon/apple-icon-152x152.png")
        link(rel="apple-touch-icon", sizes="180x180", href="media/icon/apple-icon-180x180.png")
        link(rel="icon", type="image/png", sizes="192x192",  href="media/icon/android-icon-192x192.png")
        link(rel="icon", type="image/png", sizes="32x32", href="media/icon/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="96x96", href="media/icon/favicon-96x96.png")
        link(rel="icon", type="image/png", sizes="16x16", href="media/icon/favicon-16x16.png")
        link(rel="manifest", href="media/icon/manifest.json")
        meta(name="msapplication-TileColor", content="#ffffff")
        meta(name="msapplication-TileImage", content="media/icon/ms-icon-144x144.png")
        meta(name="theme-color", content="#ffffff")
        link(rel='stylesheet', href='css/materialize/bin/materialize.css', media="screen,projection")
        link(rel='stylesheet', href='/css/main.css')
        script(src='js/lib/progressbar.min.js')

        script(type="text/javascript", data-main="app", src="js/lib/require.js")
    body(class="bg-main")
        div(class="navbar-fixed")
            nav
                div(class="nav-wrapper")
                    a(id="page-route", style="display:none")= page
                    a(href="#", class="brand-logo", data-bind="click:util.handleNavigation", data-view-name="main")= title
                    a(href="#", data-activates="mobile-nav", class="button-collapse")
                        i(class="material-icons") menu
                    ul(id="nav-mobile", class="right hide-on-med-and-down")

                        li(data-bind="visible:util.userLoggedIn, click:util.handleNavigation", data-view-name="lobby")
                            a#nav-profile(href="#") Lobby
                        li(data-bind="visible:util.userLoggedIn, click:util.handleNavigation", data-view-name="profile")
                            a#nav-profile(href="#") Profile
                        li(data-bind="visible:!(util.userLoggedIn), click:util.handleNavigation", data-view-name="login")
                            a#nav-login(href="#") Login
                        li(data-bind="visible:util.userLoggedIn, click:util.logout")
                            a#nav-login(href="#") Logout
                        li.chat-icon-li(data-bind="visible:util.userInGame, click:util.toggleInGameChat")
                            a#in-game-chat-btn(class="material-icons", title="chat") chat_bubble_outline
                    ul(class="side-nav collection" id="mobile-nav")
                        li
                            div.side-nav-player(data-bind="with:coreData.currUser")
                                img.circle-img(src="media/users/user.png" height="50", width="50")
                                h4(data-bind="text:username")
                                span(data-bind="text:email")

                        li(data-bind="visible:util.userLoggedIn, click:util.handleNavigation", data-view-name="lobby")
                            a#nav-profile(href="#") Lobby
                        li(data-bind="visible:util.userLoggedIn, click:util.handleNavigation", data-view-name="profile")
                            a#nav-profile(href="#") Profile
                        li(data-bind="visible:!(util.userLoggedIn), click:util.handleNavigation", data-view-name="login")
                            a#nav-login(href="#") Login
                        li(data-bind="visible:util.userLoggedIn, click:util.logout")
                            a#nav-logout(href="#") Logout
        // Modal Structure
        div#challengeUserModal(class="modal")
            div(class="modal-content")
                div#multiplayer(class="col s12")
                    h5 Select user(s) to challenge
                    div
                        div.indicator
                        span(style="margin-left:10px;") In a Game
                    div(class="collection", data-bind="foreach:coreData.activeUsers")
                        div(class="collection-item active-user-item")
                            input(type="checkbox", name="active-users", data-bind="attr:{ id: id }, disable:inAGame")
                            label(data-bind="text:username, attr:{ for:id }")
                            div(data-bind="if: inAGame")
                                div(class="in-game-indicator")
                                    div.indicator

                    // ko if: coreData.activeUsers().length == 0
                    div(class="card-panel" style="margin:.5em;overflow-x:hidden") You are currently the only user online
                    // /ko
            div(class="modal-footer")
                a(class="modal-action modal-close waves-effect waves-green btn-flat") Close
                a(class="waves-effect waves-green btn-flat disabled", id="btn-challenge") Challenge

        div#challengeRespModal(class="modal")
            div(class="modal-content")
                h5(data-bind="text:lobby.challengeModalHeaderMsg")
                div(data-bind="template:{name:lobby.challengeModalBody}")
            div(class="modal-footer", data-bind="template:lobby.challengeFooterTmpl")

        div#confirmModal(class="modal")
            div(class="modal-content")
                h5(data-bind="text:lobby.confirmModalHeaderMsg")
            div(class="modal-footer", data-bind="template:lobby.confirmFooterTmpl")

        div#wildCardModal(class="modal")
            div(class="modal-content")
                h5 What Color would you like to set?
            div(class="modal-footer")
                a(class="waves-effect waves-red btn-flat disabled", data-color="red") Red
                a(class="waves-effect waves-blue btn-flat disabled", data-color="blue") Blue
                a(class="waves-effect waves-yellow btn-flat disabled", data-color="yellow") Yellow
                a(class="waves-effect waves-green btn-flat disabled", data-color="green") Green


        block content
        //script(src='js/lib/progressbar.min.js')
