body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
nav{
  background: rgba(0,0,0,.9);
}

.brand-logo{
  margin-left:2em;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  // Refer to this later when this is uploaded on a server:
  // http://google.github.io/material-design-icons/#icon-font-for-the-web
  src: url(http://localhost:3000/css/font/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(http://localhost:3000/css/font/MaterialIcons-Regular.woff2) format('woff2'),
    url(http://localhost:3000/css/font/MaterialIcons-Regular.woff) format('woff'),
    url(http://localhost:3000/css/font/MaterialIcons-Regular.ttf) format('truetype');

  //src: local('Material Icons'), local('MaterialIcons-Regular'), url(http://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


// override navigation
#nav-mobile{
  li{
    &:hover{
      background:rgba(255,255,255,.3);
    }
  }
}


// Utilty
.clearfix{
  clear:both;
}

// CONTROLS: Buttons, Form inputs, etc.
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background: rgba(0,0,0,.0);
}

.btn-dk{
  background:rgba(0,0,0,.2);
  border:2px solid #fff;
  margin-bottom:1em;

  &:hover{
    background: rgba(255,255,255,.8);
    color:#000;
  }
  &:focus{
    outline: none;
    background-color: rgba(255,255,255,.8);
  }
}

.btn-lt{
  background:rgba(255,255,255,.8);
  color:#000;
  margin-bottom:1em;

  &:hover{
    background: rgba(0,0,0,.2);
    color:#FFF;
  }
  &:focus{
    outline: none;
    background-color: rgba(0,0,0,.2);
    color:#FFF;
  }
}


.btn-main{

  background:rgba(0,0,0,.8);
  //border:2px solid #fff;
  margin-bottom:1em;
  padding:6px 0;
  font-size: 24px;
  height:auto;

  &:hover{
    background: rgba(255,255,255,.8);
    color:#000;
  }
  &:focus{
    outline: none;
    background-color: rgba(255,255,255,.8);
  }
}

.btn-sm{
  font-size: 16px;
  padding: 0 2rem;
}

.col-100p{
  width:100%;
}



/* OVERRIDE FORM ELEMENTS COLORING */
@inputColor:#fff;

/* label focus color */
.login-card .input-field{
  /* label color */
  label {
    color: @inputColor;
  }
  input[type=text], input[type=password], input[type=email]{

    &:focus + label {
      color: @inputColor;
    }

    /* label underline focus color */
    &:focus {
      border-bottom: 1px solid @inputColor;
      box-shadow: 0 1px 0 0 @inputColor;
    }

    /* valid color */
    &.valid {
      border-bottom: 1px solid @inputColor;
      box-shadow: 0 1px 0 0 @inputColor;
    }

    /* invalid color */
    &.invalid {
      border-bottom: 1px solid @inputColor;
      box-shadow: 0 1px 0 0 @inputColor;
    }
  }

  /* icon prefix focus color */
  .prefix.active {
    color: #FFF;
  }
}


/* GAME VIEW */
#game-view{
  width:100%;
}

#game-card-view{
  width:160px;
  height:4em;
  position:relative;
  margin:5em auto;

  #current-gc-view{
    position:absolute;
    left:80px;
    z-index: 99;
  }
  #previous-gc-view{
    position: absolute;
    left:100px;
  }

}

.card-view{
  float:left;
}

#deck-view{
  position: absolute;
  left: 0;
}



/* GAME VIEW - PLAYERS VIEW */
#players{
  background: #ddd;
  height:100px;
}

.player-wrap{
  position:relative;
  height: 5em;
  width:5em;
  margin:.6em 1em;
  float: left;

  img{
    border-radius: 5em;
    &.my-turn{
      border:1px solid limegreen;
      .generate-all-browser-animation(my-turn-flashing 1s ease-in-out infinite alternate);
    }
  }
}

#action-bar{
  margin:0 1em;
}

.hand-count{
  background:red;
  border-radius:3px;
  color:#fff;
  position:absolute;
  top:0;
  right:-5px;
  padding:2px 6px;
}

.player-username{
  background:rgba(0,0,0,.8);
  border-radius:3px;
  color:#FFF;
  position:absolute;
  bottom:0;
  width:100%;
  text-align: center;
  padding:2px 6px;

  &.my-turn{
    background:limegreen;
  }
}

.curr-player-username{
  background:rgba(0,0,0,.8);
  border-radius:0 0 3px 3px;

  color:#FFF;
  text-align: center;
  //width: 20%;
  padding:2px 6px;
  margin:0 auto;

  &.my-turn{
    border-top: 2px solid lime;
  }
}


// User Section
#player-hand{
  background: rgba(255,255,255, .6);
  margin-bottom:0;
  overflow-x: scroll;

  &.my-turn{
    .generate-all-browser-animation(my-turn-flashing 1s ease-in-out infinite alternate);
  }

  .card-view{
    margin:.8em .2em;
  }
}

.chat-icon-li{
  height:64px;
}

#in-game-chat-btn{
  font-size: 2rem;
  width:2em;
  padding-top:.5em;
  cursor: pointer;
}

.card-cont{
  float:left;
  margin:.6em .1em;
}

/* MAIN PAGE */
.bg-main{
  //padding:2em 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ea7e31+0,e2420d+100 */
  background: #ea7e31; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNlYTdlMzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTI0MjBkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-radial-gradient(center, ellipse cover,  #ea7e31 0%, #e2420d 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ea7e31), color-stop(100%,#e2420d)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #ea7e31 0%,#e2420d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #ea7e31 0%,#e2420d 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #ea7e31 0%,#e2420d 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #ea7e31 0%,#e2420d 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea7e31', endColorstr='#e2420d',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

#home-bg{
  background: url("../media/cards/uno_bg.svg") no-repeat;
  //-webkit-background-size: cover;
  //-moz-background-size: cover;
  //-o-background-size: cover;
  //background-size: cover;
  background-size:100%;
  width:60%;
  margin:0 auto;
}

#main-btn-cont{
  width:20em;
  padding:20em 0;
  margin:0 auto;
}

// Login/Sign Up Section
.bg-dk-cover{
  background: rgba(0,0,0,.4);

  .card-title{
    color:#FFF;
  }
  .input-field{
    color:#FFF;
  }
}

.card-heading{
  border-bottom: 1px solid #FFF;
}

// Mobile Nav
#mobile-nav{
  i{
    display: inline-block;
  }
  li{
    color:#333;

    &:hover{
      cursor:pointer;
      color: #ee280e;
    }
  }
}

// Profile
#img-cont{
  margin: 0 auto;
  width: 200px;
  height:200px;
  /*padding-top: 75px;*/
  /*border:2px solid #FFF;*/
  border-radius: 100px;
  /*background: rgba(255,255,255,.6);*/
}
.progressbar-text{
  top:85% !important;
  font-size:1.6em;
}

.add-photo-txt{
  font-size: 30px;
  text-align: center;
  margin-top: 65px;
}

// Chat section
#chat-window, #game-chat-window{
  //margin:1em;
  background: #FFF;
  #chat-cont, #game-chat-cont{
    background:#ddd;
    min-height: 200px;
    height: 200px;
    overflow-y: scroll;

    .card-panel{
      padding:.5em 1em;
    }
  }
  #chat-msg, #game-chat-msg{
    margin: 0 0 5px 0;
    height:2.2rem;
  }
}



// Background Colors
.bg-gray{
  background:#ddd;
}
.bg-white{
  background: #fff;
}
.dk-gray{
  color:#333;
}
.error-msg{
  color:red;
}

.me-txt{
  color:orange;
}
.error-txt{
  background: #FFF;
  color:darkred;
  padding:1em;
}

.chat-btn{
  height: 54px;
  padding:0;
  color:#000;
  width:6em;
  i{
    //padding:.2em;
    padding-top: .22em;
    font-size: 2.6rem;
  }
  &:hover{
    color:#CCC;
    cursor: pointer;
  }
  &:focus{
    outline: none;
    background-color: rgba(255,255,255,.6);
    color:#CCC;
  }
}


.login-card{
  width:60%;
  margin:0 auto;
  padding:.2em;
  background:rgba(0,0,0,0);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.main-wrap{
  padding:2em 0;
}


.pw-90{
  width: 90%;
}
.pw-10{
  width: 10%;
}

.challenge-heading{
  font-size:2em;
  text-align: center;
  h6{
    font-weight: bold;
  }
}

.challenge-text{
  cursor: pointer;
  color:#333333 !important;
  a{
    color:#333333 !important;

    &:hover{
      color:#ccc !important;
    }
  }
  i:hover{
    cursor: pointer;
    color:#00C853;
  }
}

#inGameChatWindow{
  position:absolute;
  top:-2000px;
  right:0;
  left:0;
  z-index:100;
  border-radius: 3px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;

  &.active{
    top:64px;
    right:1em;
    left:1em;
  }

}

//#lobby-main{
//  .collection.with-header .collection-item{
//    padding:0em;
//    //i{
//    //  padding:.5em;
//    //}
//    a{
//      padding:.5em;
//      display: block;
//    }
//  }
//}

@media only screen and (max-width: 601px){
  .login-card {
    width: 90%;
    margin: 0 auto;
    padding: .2em;
    background: rgba(0, 0, 0, 0);
  }
}

.cancelled-item{
  border-left:4px solid #cc0000;
}
.accepted-item{
  border-left:4px solid #00C853;
}
.declined-item{
  border-left:4px solid #ea7e31;
}
.ready-item{
  border-left:4px solid #00C853;
  .generate-all-browser-transition(all 0.5s);
  .generate-all-browser-animation(flashing .5s ease-in-out infinite alternate);

  &:hover{
    //border-left-width: 8px;
  }

}
.pending-item{
  border-left:4px solid #333;
}


.active-color-red{
  background: red;
}
.active-color-blue{
  background: blue;
}
.active-color-yellow{
  background: yellow;
}
.active-color-green{
  background: green;
}

.generate-all-browser-transition(@val){
  -webkit-transition: @val;
  -moz-transition: @val;
  -o-transition: @val;
  transition: @val;
}

.generate-all-browser-animation(@val){
  -webkit-animation: @val;
  -moz-animation: @val;
  -o-animation: @val;
  animation: @val;
}


// animation for glowing around player whos turn it is
.generate-keyframes-from-to(my-turn-flashing, { box-shadow: 0px 0px 1px 1px rgba(0, 255, 0, 0.3)}, { box-shadow: 0px 0px 8px 4px rgba(0, 255, 0, 0.6) });

// animation for challenge center to indicate that the game is ready to start
.generate-keyframes-from-to(flashing, { border-left-color:rgba(0, 200, 83, .5)}, { border-left-color:rgba(0, 180, 90, 1) });

.generate-keyframes-from-to(@name, @fromRule, @toRule){
  @-webkit-keyframes @name {
    .generate-from-to(@fromRule, @toRule);
  }
  @-moz-keyframes @name {
    .generate-from-to(@fromRule, @toRule);
  }
  @-o-keyframes @name {
    .generate-from-to(@fromRule, @toRule);
  }
  @keyframes @name {
    .generate-from-to(@fromRule, @toRule);
  }
}

.generate-from-to(@fromRule, @toRule){
  from{
    @fromRule();
  }
  to{
    @toRule();
  }
}