script(type="text/html", id="lobby")
  div(id="lobby-main")
    div(data-bind="template:{name:'chat-section'}")
    div(class="row")
      div(class="col s12")
        div(class="collection with-header bg-white")
          div(class="")
            div(style="float:left;width:50%;", class="collection-header challenge-heading")
              h6(style="padding:0 2em") Sent Challenges
            div(style="float:left;width:50%;", class="collection-header challenge-heading")
              h6(style="padding:0 2em") Received Challenges
            div(class="challenge-cont bd-right")
              div(data-bind="foreach:coreData.sentChallenges")
                div(data-bind="attr:{'class':'collection-item challenge-text ' + challengeClass}")
                  a(data-bind="text:challengeText, attr:{ 'data-index':$index }, click:$parent.lobby.promptCancelChallenge")
                  i(class="material-icons", style="float:right", title="Start Game", data-bind="click:$parent.game.startGame, visible:startGameVisible, attr:{ 'data-id':id }") play_arrow
            div(class="challenge-cont")
              div(data-bind="foreach:coreData.receivedChallenges")
                div(data-bind="attr:{'class':'collection-item challenge-text ' + challengeClass}")
                  a(data-bind="text:challengeText, attr:{ 'data-index':$index }, click:$parent.lobby.promptChallengeResponse")

    div(class="row")
      div(class="col s12")
        button(class="btn btn-main col-100p", data-bind="click:lobby.showSendChallengeModal", data-view-name="game") Challenge Someone!